venv/
__pycache__/
*.pyc
.env
media/
*.log
.idea/
.vscode/
apps/staticfiles/
*.sqlite3-wal
*.sqlite3-shm
fixtures/
backup_*.sqlite3
.git/
.gitignore
node_modules/
Dockerfile
.dockerignore
README.md
apps/**/migrations/__pycache__/
