{% if page_obj.paginator.num_pages > 1 %}
<nav>
    <ul class="pagination pagination-sm justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1{% if q %}&q={{ q }}{% endif %}{% for key, val in request.GET.items %}{% if key != 'page' and key != 'q' %}&{{ key }}={{ val }}{% endif %}{% endfor %}">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}{% for key, val in request.GET.items %}{% if key != 'page' and key != 'q' %}&{{ key }}={{ val }}{% endif %}{% endfor %}">&#8249;</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}{% for key, val in request.GET.items %}{% if key != 'page' and key != 'q' %}&{{ key }}={{ val }}{% endif %}{% endfor %}">&#8250;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if q %}&q={{ q }}{% endif %}{% for key, val in request.GET.items %}{% if key != 'page' and key != 'q' %}&{{ key }}={{ val }}{% endif %}{% endfor %}">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
